@import "../../variables.scss";

.ticket {
    display: flex;
    flex-direction: column;    
    background-color: $secondary-background-color;
    margin: $margin 0 0 0;
    padding: $padding;
    border-radius: $border-radius;
    box-shadow: $shadow;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: $padding;
}

.logo {
    flex: 1 1 26%;
    margin-left: auto;
    margin-right: 50px 0;
}

.price {
    flex: 1 1 60%;
    font-family: $font-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: $primary-color;
}
