$background-color-app: #F3F7FA;
$primary-color: #2196F3;
$primary-text-color: #4A4A4A;
$primary-border-color: #DFE5EC;
$secondary-background-color: #fff;
$hover-color: #F1FCFF;

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $background-color-app;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 10px;
}

.tickets {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: $background-color-app;
}
