@import "../../variables.scss";

$distance-checkbox-text: 50px;
$padding-vertical: 10px;
$size: 20px;

.checkbox {
    font-family: $font-family;
    font-size: $font-size-md;
    font-style: normal;
    font-weight: 400;
    line-height: $line-height-md;
    letter-spacing: 0px;
    text-align: left;
    padding: $padding-vertical $padding $padding-vertical $distance-checkbox-text;

    &:hover, &:focus {
	background-color: $hover-color;
	cursor: pointer;
    }
}

.checkbox-input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox-custom {
    position: absolute;
    width: $size;
    height: $size;
    background-image: url('./checkbox-enabled-unchecked.svg');
    background-size: contain;
    margin-left: (-$distance-checkbox-text + $size);
}

.checkbox-input:checked + .checkbox-custom {
    background-image: url('./checkbox-enabled-checked.svg');
}
