// colors
$background-color-app: #F3F7FA;
$column-title-color: #A0B0B9;
$hover-color: #F1FCFF;
$primary-border-color: #DFE5EC;
$primary-color: #2196F3;
$primary-text-color: #4A4A4A;
$secondary-background-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.1);

// media breakpoints
$mobile-max-width: 767px;

// font
$font-family: 'Open Sans';
$font-size-md: 13px;
$font-size-title: 12px;
$line-height-md: 20px;

// padding
$padding: 20px;

// margin
$margin: 20px;

// border-radius
$border-radius: 5px;

// shadow
$shadow: 0px 2px 8px 0px $shadow-color;
