$primary-color: #2196F3;
$primary-text-color: #4A4A4A;
$primary-border-color: #DFE5EC;
$secondary-background-color: #fff;
$hover-color: #F1FCFF;

.sort {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin: 0 20px;
    border-radius: 5px;
    overflow: hidden;
}

.sort-button {
    font-family: 'Open Sans';
    text-transform: uppercase;
    flex: 1 1 auto;
    padding: 15px;
    outline: none;
    background-color: $secondary-background-color;
    color: $primary-text-color;
    border: 1px solid $primary-border-color;
    
    &:hover {
	cursor: pointer;
    }

    &--focused {
	background-color: $primary-color;
	color: $secondary-background-color;
	border: 1px solid $primary-color;
    }
}
